.dashboard {
  background-color: #f3f0ff;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboard h1 {
  font-size: 2.5rem;
  font-family: 'Caveat', cursive;
  color: #6a1b9a;
}
